<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" type="text/css" href="../static/Style/home.css" th:href="@{/Style/home.css}"/>

    <link rel="stylesheet" type="text/css" href="../static/Style/cart.css" th:href="@{/Style/cart.css}"/>
</head>
<body>
<header>
    <div class="header-top">
        <div class="header-top-text">support@my.book</div>
        <div class="header-top-text">+7(495)666-50-50</div>
        <div class="header-top-text">
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Выход</a>
            / Регистрация</div>
    </div>
    <div class="header-middle">
        <div class="header-middle-img">
            <img src="/static/images/icon.png" >
        </div>
        <div class="header-middle-form">
            <form th:action="@{/search}" method="get">
                <input  class="header-middle-form-input" type="text" name="keyword" th:value="${keyword}"  placeholder="Найти товар" >
                <button class="header-middle-form-button" type="submit"  >Поиск</button>
            </form>
        </div>
        <div class="header-middle-actions">
            <div class="header-middle-actions-1">
                <a href="/cart" class="header-middle-actions-a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
                    <p class="header-middle-actions-p">Мои заказы</p>
                </a>
            </div>
            <div class="header-middle-actions-1">
                <a href="/cart" class="header-middle-actions-a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                    <p class="header-middle-actions-p">Избранное</p>
                </a>
            </div>
            <div class="header-middle-actions-1">
                <a href="/cart" class="header-middle-actions-a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                    <p class="header-middle-actions-p">Корзина</p>
                </a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="header-bottom-ul">
            <li class="header-bottom-ul-li1">
                <a href="/home">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="header-bottom-ul-svg"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/home">
                    <p class="header-bottom-p">Каталог</p>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/sales">
                    <p class="header-bottom-p">Акции</p>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/O-kompanii">
                    <p class="header-bottom-p">О компании</p>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/dostavka-i-oplata">
                    <p class="header-bottom-p">Доставка и оплата</p>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/news">
                    <p class="header-bottom-p">Новости</p>
                </a>
            </li>
            <li class="header-bottom-ul-li">
                <a href="/kontakty">
                    <p class="header-bottom-p">Контакты</p>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="inner">
    <p class="navigation">Главная / Корзина</p>
    <h1 class="maintext-h1">Корзина</h1>

    <div class="item-cart" th:each="cart,book : ${maplist}">
        <div class="item-cart-titles">
            <p class="item-cart-p1">Наименование товара</p>
            <p class="item-cart-p">Цена</p>
            <p class="item-cart-p">Количество</p>
            <p class="item-cart-p">Стоимость</p>
            <a th:href="@{cart/delete/{id}(id=${cart.value.id})}">
                <svg width="15px" height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#CE0029" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249    C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306    C514.019,27.23,514.019,14.135,505.943,6.058z"/>
	</g>
</g>
                <g>
	<g>
		<path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636    c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z"/>
	</g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
                <g>
</g>
</svg>
            </a>
        </div>
        <div class="item-in-cart">
            <div class="item-in-cart-img">
                <img th:src="@{'data:image/jpeg;base64,' + ${cart.value.photoprevue}}"/>
            </div>
            <p class="item-in-cart-text" th:text="${cart.value.name}"></p>
            <p id="one" class="item-in-cart-price" th:text="${cart.value.price}"></p>
            <div class="item-in-cart-count">
                <a id="item-in-cart-count-a" th:href="@{cart/edit-delete-countbook/{id}(id=${cart.value.id})}">-</a>
                <div><p id="two" th:value="${cart.key.countBook}" th:text="${cart.key.countBook}"></p></div>
                <a th:href="@{cart/edit-add-countbook/{id}(id=${cart.value.id})}">+</a>
            </div>
            <p class="item-in-cart-price" onload="mult()"  id="result" th:text="${cart.value.price}"></p>

        </div>
    </div>
    <a th:href="@{/buy}"><button style="display: flex;padding-top: 12px;padding-bottom: 12px;margin-left: auto" th:href="@{/buy}" id="login-button">Купить</button></a>
    <script>
        function mult() {
            var first = document.getElementById('one').value;
            var second = document.getElementById('two').value;
            document.getElementById('result').value = first * second;
        }
    </script>
    <!--
    <tr th:each="cart,book : ${maplist}">
        <td th:text="${cart.value.name}"></td>
        <td th:text="${cart.value.text}"></td>
        <img th:src="@{'data:image/jpeg;base64,' + ${cart.value.photoprevue}}" width="100px"/>
        <td th:text="${cart.key.countBook}"></td>
        <td><a th:href="@{cart/edit-delete-countbook/{id}(id=${cart.value.id})}">Уменьшить</a></td>
        <td><a th:href="@{cart/edit-add-countbook/{id}(id=${cart.value.id})}">Увеличить</a></td>
        <td><a th:href="@{cart/delete/{id}(id=${cart.value.id})}">Delete</a></td><br>
    </tr>
    <a href="/buy">Купить</a>-->
</div>
<footer>
    <div class="fmenu">
        <img src="/static/images/icon.png" >
        <p class="fmenu-ligth">© 2024 Книжный мир</p>
        <a class="fmenu-a">Политика конфиденциальности</a><br>
        <a class="fmenu-a">Согласие на обработку персональных данных</a>
        <p class="fmenu-tiny">Используя данный сайт, вы автоматически принимаете условия пользовательского соглашения и соглашаетесь с политикой конфиденциальности.
            Указанные на сайте цены не являются публичной офертой и могут быть изменены в любое</p>
    </div>
    <div class="fmenu">
        <h2 class="fmenu-h2">О магазине</h2>
        <a class="fmenu-a1">Главная</a>
        <a class="fmenu-a1">Акции</a>
        <a class="fmenu-a1">О компании</a>
        <a class="fmenu-a1">Доставка и оплата</a>
        <a class="fmenu-a1">Контакты</a>
        <a class="fmenu-a1">Новости</a>
        <a class="fmenu-a1">Статьи</a>
    </div>
    <div class="fmenu-catalog">
        <h2 class="fmenu-h2">Каталог</h2>
        <a class="fmenu-a1">Детектив</a>
        <a class="fmenu-a1">Научная фантастика</a>
        <a class="fmenu-a1">Фантастика</a>
        <a class="fmenu-a1">Приключение</a>
    </div>
    <div class="fmenu-contact-us">
        <h2 class="fmenu-h2">Свяжитесь с нами</h2>
        <a class="fmenu-a1">Имама Шамиляю., Дагестан 123412</a>
        <div class="fmenu-div">
            <p class="fmenu-ligth">E-mail</p>
            <a class="fmenu-a1">support@my.book</a>
        </div>
        <a class="fmenu-a1">+7(495)666-50-50</a>
        <div class="social-contact"></div>
    </div>
</footer>
</body>
</html>