<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/index"> Главная</a> <br>
<tr th:each="cart,book : ${maplist}">
    <td th:text="${cart.value.name}"></td>
    <td th:text="${cart.value.text}"></td>
    <td th:text="${cart.value.autor}"></td>
    <td th:text="${cart.key.countBook}"></td>
    <td><a th:href="@{cart/edit-delete-countbook/{id}(id=${cart.value.id})}">Уменьшить</a></td>
    <td><a th:href="@{cart/edit-add-countbook/{id}(id=${cart.value.id})}">Увеличить</a></td>
    <td><a th:href="@{cart/delete/{id}(id=${cart.value.id})}">Delete</a></td><br>
</tr>
<a href="/buy">Купить</a>
</body>
</html>