<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Доставка и оплата</title>
  <link rel="stylesheet" type="text/css" href="../static/Style/home.css" th:href="@{/Style/home.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/Style/dostavka-i-oplata.css" th:href="@{/Style/dostavka-i-oplata.css}"/>
</head>
<body>
<header>
  <div class="header-top">
    <div class="header-top-text">support@my.book</div>
    <div class="header-top-text">+7(495)666-50-50</div>
    <div class="header-top-text">
      <a th:href="@{/auth/login}">Вход /</a>

      <a th:href="@{/user/logout}" sec:authorize="isAuthenticated()">Выход /</a>

      <a th:href="@{/registration}">Регистрация</a>
    </div>
  </div>
  <div class="header-middle">
    <div class="header-middle-img">
      <a href="/home">
        <img src="/static/images/icon.png" >
      </a>
    </div>
    <div class="header-middle-form">
      <form th:action="@{/search}" method="get">
        <input  class="header-middle-form-input" type="text" name="keyword" th:value="${keyword}"  placeholder="Найти товар" >
        <button class="header-middle-form-button" type="submit"  >Поиск</button>
      </form>
    </div>
    <div class="header-middle-actions">
      <div class="header-middle-actions-1">
        <a href="/cart" class="header-middle-actions-a">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
          <p class="header-middle-actions-p">Мои заказы</p>
        </a>
      </div>
      <div class="header-middle-actions-1">
        <a href="/cart" class="header-middle-actions-a">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
          <p class="header-middle-actions-p">Избранное</p>
        </a>
      </div>
      <div class="header-middle-actions-1">
        <a href="/cart" class="header-middle-actions-a">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
          <p class="header-middle-actions-p">Корзина</p>
        </a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <ul class="header-bottom-ul">
      <li class="header-bottom-ul-li1">
        <a href="/home">
          <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="header-bottom-ul-svg"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/home">
          <p class="header-bottom-p">Каталог</p>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/sales">
          <p class="header-bottom-p">Акции</p>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/O-kompanii">
          <p class="header-bottom-p">О компании</p>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/dostavka-i-oplata">
          <p class="header-bottom-p">Доставка и оплата</p>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/news">
          <p class="header-bottom-p">Новости</p>
        </a>
      </li>
      <li class="header-bottom-ul-li">
        <a href="/kontakty">
          <p class="header-bottom-p">Контакты</p>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="inner">
  <p class="navigation">Главная / Доставка и оплата</p>
  <h1 class="maintext-h1">Доставка и оплата</h1>
  <h4>СПОСОБЫ ОПЛАТЫ:</h4>
  <p class="maintext-p">Наличный платёж — операции с денежной наличностью, которые проводятся физическими и юридическими лицами. Как правило, эти расчёты меньше по объёму по сравнению с безналичными расчётами. Размер наличного расчёта обычно устанавливается в законодательном порядке. К наличному расчёту относятся также выплаты предприятий, организаций, учреждений населению в виде заработной платы, стипендий, пенсий, пособий; поступления из финансовой системы; денежные расходы населения на товары и услуги; платежи финансовой системе.
    <br><br>
    Безналичный платёж — платёж, осуществляемый между продавцом и покупателем при помощи банка путём перечисления денежных средств с банковских счетов.
    <br><br>
    Безналичный платеж может быть отправлен с помощью Систем денежных переводов. При таком виде платежа для перевода денежных средств как продавцу так и покупателю не обязательно иметь банковский счет.
    <br><br>
    Платёж электронными деньгами — платёж, осуществляемый при помощи платёжных инструментов электронных денег.</p>
  <img  id="img1" src="/static/images/dostavka.jpg">
  <h4>ВИДЫ ДОСТАВКИ:</h4>
  <p class="maintext-p">Транспортно-экспедиционная компания (ТЭК) — компания, занимающаяся организацией перевозок грузов от грузоотправителя (клиента) к грузополучателю. В большинстве случаев ТЭК является компанией посредником между клиентом и перевозчиком, предоставляя услуги по поиску исполнителя и транспорта удовлетворяющим критерием перевозки груза. От компетентности и профессионализма данной компании зависит качество и своевременность перевозки грузов.
    <br><br>
    Транспортно экспедиционная компания должна удовлетворять следующим требованием:
    <br><br>
  </p>
  <ul>
    <li>
      <p class="maintext-p">
      Быстрая и четкая обработка поступающих заказов.
      </p>
    </li>
    <li>
      <p class="maintext-p">
      Поиск и предоставления транспорта в заданные сроки.
      </p>
    </li>
    <li>
      <p class="maintext-p">
      Неукоснительное соблюдение всех правил и условий транспортировки груза.
      </p>
    </li>
    <li>
      <p class="maintext-p">
      Контроль за исполнением и информированием клиента о статусе перевозки груза.
      </p>
    </li>
    <li>
      <p class="maintext-p">
      Формирование отчетности и прочих финансовых, сопроводительных документов.
      </p>
    </li>
    <li>
      <p class="maintext-p">
      Строгое соблюдение законодательства.
      </p>
    </li>
  </ul>
  <br><br>
  <p class="maintext-p">
    На текущий момент на рынке грузоперевозок представлено большое число малых и крупных транспортно экспедиционных компаний, но специфика рынка такова, что далеко не каждая компания или частный перевозчик способен выполнить эти требования по ряду причин, главная из которых — это отсутствие нужной квалификации и опыта работы в данной сфере.
  </p>
</div>
<footer>
  <div class="fmenu">
    <img src="/static/images/icon.png" >
    <p class="fmenu-ligth">© 2024 Книжный мир</p>
    <a class="fmenu-a">Политика конфиденциальности</a><br>
    <a class="fmenu-a">Согласие на обработку персональных данных</a>
    <p class="fmenu-tiny">Используя данный сайт, вы автоматически принимаете условия пользовательского соглашения и соглашаетесь с политикой конфиденциальности.
      Указанные на сайте цены не являются публичной офертой и могут быть изменены в любое</p>
  </div>
  <div class="fmenu">
    <h2 class="fmenu-h2">О магазине</h2>
    <a class="fmenu-a1">Главная</a>
    <a class="fmenu-a1">Акции</a>
    <a class="fmenu-a1">О компании</a>
    <a class="fmenu-a1">Доставка и оплата</a>
    <a class="fmenu-a1">Контакты</a>
    <a class="fmenu-a1">Новости</a>
    <a class="fmenu-a1">Статьи</a>
  </div>
  <div class="fmenu-catalog">
    <h2 class="fmenu-h2">Каталог</h2>
    <a class="fmenu-a1">Детектив</a>
    <a class="fmenu-a1">Научная фантастика</a>
    <a class="fmenu-a1">Фантастика</a>
    <a class="fmenu-a1">Приключение</a>
  </div>
  <div class="fmenu-contact-us">
    <h2 class="fmenu-h2">Свяжитесь с нами</h2>
    <a class="fmenu-a1">Имама Шамиляю., Дагестан 123412</a>
    <div class="fmenu-div">
      <p class="fmenu-ligth">E-mail</p>
      <a class="fmenu-a1">support@my.book</a>
    </div>
    <a class="fmenu-a1">+7(495)666-50-50</a>
    <div class="social-contact"></div>
  </div>
</footer>
</body>
</html>