
<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/home.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="header-top">
        <div class="header-top-text">support@my.book</div>
        <div class="header-top-text">+7(495)666-50-50</div>
        <div class="header-top-text">Вход / Регистрация</div>
    </div>
    <div class="header-middle"></div>
    <div class="header-bottom"></div>
</header>
</body>
</html>