<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/cart">Корзина</a>

<form th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name & Shop Type" size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit"  class="btn btn-info" >Reset</button>
</form>
<div th:switch="${books}">
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.text}"></td>
        <td th:text="${book.autor}"></td>
        <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td><br>
        <td><a th:href="@{/add-cart/{id}(id=${book.id})}">Добавить в корзину</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/signup">Add a new book</a></p>
</div>

<tr th:each="book : ${list}" th:else="${not #lists.isEmpty(list)}">
  <td th:text="${book.name}"></td>
  <td th:text="${book.text}"></td>
  <td th:text="${book.autor}"></td>
  <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
  <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
</tr>
</body>
</html>