<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/cart">Корзина</a>
<a href="/index">Главная</a>
<a  href="/manager">Manager</a>
<a th:href="@{/user/personalpage}">Профиль</a>
<a th:href="@{/user/logout}" sec:authorize="isAuthenticated()">Выйти</a>
<form th:action="@{/search}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name & Shop Type" size="50" >
  <button type="submit" class="btn btn-info" >Search</button>
  <button type="submit"  class="btn btn-info" >Reset</button>
</form>
<div th:switch="${books}">
  <div th:case="*">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <td><a th:text="${book.name}" th:href="@{/book/{id}(id=${book.id})}"></a></td>
        <td th:text="${book.text}"></td>
        <td th:text="${book.autor}"></td>
        <img th:src="@{'data:image/jpeg;base64,' + ${book.photoprevue}}" width="100px"/>
        <td><a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')}" th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
        <td><a th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')}" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
        <td><a th:href="@{/add-cart/{id}(id=${book.id})}">Добавить в корзину</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<tr th:each="book : ${list}" >
  <td th:text="${book.name}"></td>
  <td th:text="${book.text}"></td>
  <td th:text="${book.autor}"></td>
  <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
  <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td><br>
</tr>

<p><a href="/signup">Add a new book</a></p>
</body>
</html>