<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<form method="POST" action="#" th:action="@{/registration}"  th:object="${user}" id="registerForm">
    <label >Username: </label>
    <input type="text" th:field="*{username}" id="username"/><br/>

    <label >Password: </label>
    <input type="password" th:field="*{password}" id="password"/><br/>

    <label >Email: </label>
    <input type="text" th:field="*{email}" id="email"/><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>